<section class="about">
  <h2>Front-end developer</h2>
  <p>My life is maniacally structured. So, I'm more than just attentive to details. I'm - perfectionist! My code is
    structured, my designs are straight, my workspace is absolutely clean. And if you are looking for something pure
    and
    simple, just let me know.
  </p>

  <p>I can work on my own or will take a part in your project with great pleasure (for reasonable reward, of
    course).
    Also, you can propose me a full-time job in Ukraine or outside of it.</p>
</section>
