<section class="work">
  <h3>Testimonials</h3>

  <ul class="project-list">
    <li class="project">
      <h5 class="project-title">Part-time Web Developer HTML 5, CSS 3 and a good eye for design.</h5>

      <blockquote class="project-feedback">
        <div class="rating">
          <ul class="rating-stars" data-score="5.0">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <span class="date">Apr 30, 2020 - Aug 24, 2020</span>
        </div>

        <p>
          Yuri did a great job of the web development work assigned to him, and was courteous, helpful and responsive
          throughout the engagement.
        </p>
      </blockquote>
    </li>

    <li class="project">
      <h5 class="project-title">Front end engineer</h5>

      <blockquote class="project-feedback">
        <div class="rating">
          <ul class="rating-stars" data-score="4.7">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <span class="date">Apr 29, 2020 - Aug 16, 2020</span>
        </div>

        <p>
          Yurii delivered great work, also went an extra mile in completing out of spec work. We encountered an
          unexpected technical issue deploying the code, but he was able to lend a hand to quickly resolve it.
        </p>
      </blockquote>
    </li>

    <li class="project">
      <h5 class="project-title">simple one page PSD to HTML (landing page)</h5>

      <blockquote class="project-feedback">
        <div class="rating">
          <ul class="rating-stars" data-score="5.0">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <span class="date">Feb 18, 2020 - Mar 27, 2020</span>
        </div>

        <p>
          Definitely the best I've worked. Will work with him again if he is available.
        </p>
      </blockquote>
    </li>

    <li class="project">
      <h5 class="project-title">Frontend Web Development</h5>

      <blockquote class="project-feedback">
        <div class="rating">
          <ul class="rating-stars" data-score="5.0">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <span class="date">Jan 7, 2018 - Jul 12, 2019</span>
        </div>

        <p>
          Yuri does an amazing job as a frontend developer. His HTML, JS and SCSS is clean, well structured and working
          with him is a real joy!
        </p>
      </blockquote>
    </li>

    <li class="project">
      <h5 class="project-title">Frontend developer with Wordpress experience (FULL TIME)</h5>

      <blockquote class="project-feedback">
        <div class="rating">
          <ul class="rating-stars" data-score="5.0">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <span class="date">Feb 28, 2018 - Mar 30, 2018</span>
        </div>

        <p>Yuriy has done an outstanding work. I'm really happy with the results.</p>
      </blockquote>
    </li>

    <li class="project">
      <h5 class="project-title">CSS3 and Javascript Expert to join a project</h5>

      <blockquote class="project-feedback">
        <div class="rating">
          <ul class="rating-stars" data-score="5.0">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <span class="date">Jan 30, 2020 - Feb 10, 2020</span>
        </div>

        <p>
          Super highly recommended developer.
        </p>
      </blockquote>
    </li>

    <li class="project">
      <h5 class="project-title">Frontend development for Code Q</h5>

      <blockquote class="project-feedback">
        <div class="rating">
          <ul class="rating-stars" data-score="4.85">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <span class="date">Apr 2, 2019 - Aug 22, 2019</span>
        </div>

        <p>
          Yuri does a great job at developing templates based on designs and really thinks about how interactions and
          transition should be implemented. Great to work with him.
        </p>
      </blockquote>
    </li>

    <li class="project">
      <h5 class="project-title">Update a Website with new design</h5>

      <blockquote class="project-feedback">
        <div class="rating">
          <ul class="rating-stars" data-score="5.0">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <span class="date">Dec 9, 2019 - Feb 10, 2020</span>
        </div>

        <p>
          Yurii is an amazing contractor!! Very professional with great /easy communication and accessibility. He always
          went above and beyond the task, and worked hard to stick to deadlines. I will definitely hire Yurii again for
          my next project. Highly recommend his services. Website came out beautiful!! Thanks!
        </p>
      </blockquote>
    </li>
  </ul>
</section>
