<section class="hero panel-dark">
  <div class="swiper hero-slider" aria-label="Featured DRIFTER builds">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img class="hero-bg" src="assets/svg-home/03-image-24.jpg" alt="Black DRIFTER camper van on a mountain road" /></div>
      <div class="swiper-slide"><img class="hero-bg" src="assets/svg-home/25-wpAfgZ-2.png" alt="DRIFTER van glowing in a forest" /></div>
      <div class="swiper-slide"><img class="hero-bg" src="assets/svg-home/07-fxcZI2-2.png" alt="Two DRIFTER vans in a wooded setting" /></div>
    </div>
    <div class="swiper-pagination hero-pagination"></div>
  </div>
  <!-- @include molecules/standardCard/standardCard.html -->
  <div class="hero-buttons">
    <a class="btn btn-outline-light" href="#collection">Andara Collection</a>
    <a class="btn btn-outline-light" href="#connect">Start Your Build</a>
  </div>
</section>