<section class="education">
  <h4>Education</h4>
  <ul>
    <li>
      <div>
        <p class="place-name">University of Radio Electronics</p>
        <p class="place-degree">Master's degree, Software Systems Developer</p>
        <small class="dates">2013-2014</small></div>
    </li>

    <li>
      <div>
        <p class="place-name">University of Radio Electronics</p>
        <p class="place-degree">Bachelor's degree, Programming Engineer</p>
        <small class="dates">2010-2013</small></div>
    </li>

    <li>
      <div>
        <p class="place-name">Сomputer College</p>
        <p class="place-degree">Diploma, Developing in the web</p>
        <small class="dates">2006-2010</small></div>
    </li>
  </ul>
</section>
