html {
  margin: 0;
  padding: 0;
}

@media print {
  @page {
    margin: 0;
  }
  body {
    padding: .6cm;
  }
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  max-width: 100vw;
  color: #222;
  line-height: 1.4;
  font-family: Arial, sans-serif;
}

section {
  width: 100%;
  padding: var(--section-vertical-gap) var(--sections-horizontal-gap);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  &.container {
    padding-left: 335px;
    border-bottom: 1px solid #efefef;

    @media print {
      border-bottom: none;
      padding-left: 15px;
      break-after: recto;
      page-break-after: always !important;
    }

    @include media-breakpoint-down(md) {
      border-bottom: none;
      padding-left: 15px;
      break-after: recto;
      page-break-after: always !important;
    }
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: block;
  overflow: hidden;

  @each $breakpoint, $width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
      width: $width;
    }
  }
}
