:root {
  @include interpolate(--h1, sm, xl, 21px, 24px);
  @include interpolate(--h2, sm, xl, 18px, 21px);
  @include interpolate(--h3, sm, xl, 15px, 17px);
  @include interpolate(--h4, sm, xl, 16px, 15px);
  @include interpolate(--h5, sm, xl, 16px, 18px);
  @include interpolate(--h6, sm, xl, 8px, 16px);

  @include interpolate(--p, sm, xl, 16px, 15px);
  @include interpolate(--p-small, sm, xl, 14px, 13px);
}

h1, .h1 {
  font-size: var(--h1);
}

h2, .h2 {
  font-size: var(--h2);
  margin: 0 0 30px 0;
}

h3, .h3 {
  font-size: var(--h3);
  font-weight: 500;
  margin: 0 0 30px 0;
}

h4, .h4 {
  font-size: var(--h4);
}

h5, .h5 {
  font-size: var(--h5);
}

h6, .h6 {
  font-size: var(--h6);
}

p, .p {
  font-size: var(--p);
  letter-spacing: .02em;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

small {

}
