<div class="swiper drifter-gallery-slider pswp-gallery">
  <div class="swiper-wrapper">
    <a class="swiper-slide gallery-slide" href="assets/svg-home/13-Layer_0-4.png" data-pswp-width="1153" data-pswp-height="774"><img src="assets/svg-home/13-Layer_0-4.png" alt="White camper van at sunset" /></a>
    <a class="swiper-slide gallery-slide" href="assets/svg-home/12-Layer_0-5.png" data-pswp-width="590" data-pswp-height="880"><img src="assets/svg-home/12-Layer_0-5.png" alt="Interior galley detail" /></a>
    <a class="swiper-slide gallery-slide" href="assets/svg-home/14-Layer_0-7.png" data-pswp-width="590" data-pswp-height="880"><img src="assets/svg-home/14-Layer_0-7.png" alt="Camper van bed detail" /></a>
    <a class="swiper-slide gallery-slide" href="assets/svg-home/15-Layer_0-6.png" data-pswp-width="590" data-pswp-height="880"><img src="assets/svg-home/15-Layer_0-6.png" alt="Camper van cabinetry detail" /></a>
    <a class="swiper-slide gallery-slide" href="assets/svg-home/04-image-23.png" data-pswp-width="928" data-pswp-height="1152"><img src="assets/svg-home/04-image-23.png" alt="Warm coachbuilt DRIFTER camper van interior" /></a>
  </div>
  <div class="gallery-controls"><button class="gallery-prev" type="button" aria-label="Previous gallery image">Prev</button><div class="swiper-pagination gallery-pagination"></div><button class="gallery-next" type="button" aria-label="Next gallery image">Next</button></div>
</div>