<head>
  <meta charset="utf-8"/>
  <title>K.Yuriy | Front-end engineer</title>
  <meta name="description" content=""/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

  <meta property="og:url" content="https://github.com/ykosinets/portfolio"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Yurii Kosynets"/>
  <meta
    property="og:description"
    content="Yurii K. -- Front-end engineer. Made in USSR. Located in Ukraine. Open to the whole world.!"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
