<div class="container">
  <section class="history">
    <h2>Employment history</h2>

    <ul>
      <li>
        <div class="office">
          <p>
            <span class="employee-position">Front-end TeamLead</span>
            <span class="office-name">BeKey</span>
          </p>

          <p class="period">
            <span class="start-date">September 2016</span>&nbsp;-&nbsp;<span class="end-date">April 2019</span>
          </p>

          <p class="duties">Was lead team of 6th people, managing git flow and code quality, solving global architect
            issues.</p>
        </div>
      </li>

      <li>
        <div class="office">
          <p>
            <span class="employee-position">Front-end developer</span>
            <span class="office-name">Projestic</span>
          </p>

          <p class="period">
            <span class="start-date">March 2015</span>&nbsp;-&nbsp;<span class="end-date">September 2016</span>
          </p>

          <p class="duties">While i was working as Front-end developer in "Projestic" team, i was get nice experience
            in
            development with wordpress, and newest technologies such as Angular.js and React.js.</p>
        </div>
      </li>

      <li>
        <div class="office">
          <p>
            <span class="employee-position">Template creater and designer</span>
            <span class="office-name">Seanetix</span>
          </p>

          <p class="period">
            <span class="start-date">September 2013</span>&nbsp;-&nbsp;<span class="end-date">March 2015</span>
          </p>

          <p class="duties">Most part of my work in "Seanetix" was html/css/js template creating and web/mobile UI/UX
            Development.</p>
        </div>
      </li>
    </ul>
  </section>
</div>
